{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="users-container" class="row">
    <div class="col-md-10 m-auto">
        {% if users|length > 0 %}
            {% for user in users %}
            <div class="card flex-row flex-wrap mt-5">
                <div class="card-header border-0 card-logo">
                    <img src="{% static 'img/voicemod.jpg' %}" alt="">
                </div>
                <div class="card-block px-2 col-md-8 text-center">
                    <h3 class="card-title mt-4">{{user.name}} {{user.surnames}}</h3>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-md-6">
                            <p><b>Phonenumber</b> <br/> {{user.phonenumber}}</p>
                            <p><b>Email</b> <br/> {{user.email}}</p>
                            </div>
                            <div class="col-md-6">
                            <p><b>Country</b> <br/> {{user.country}}</p>
                            <p><b>Postal Code </b><br/> {{user.postalCode}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer col-md-12">
                    <div class="col-md-12">
                        <button pk="{{user.pk}}" class="delete-user btn btn-danger float-right ml-5">
                            Delete User
                        </button>
                        <button pk="{{user.pk}}" class="edit-user btn btn-danger float-right">
                            Edit User
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="alert alert-warning mt-5" role="alert">
            There aren't users created yet!
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}